.card__container {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
  top: 200%;
  right: 0;
  background-color: var(--color-light-grey);
  z-index: 1;
}
.card {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card img {
  /* background-color: red; */
}
.card__info h3 {
  font-size: 20px;
}

#location {
  color: var(--color-violet);
  margin-top: 40px;
}

/* CARDS COMPONENT */

.cards__container button {
  width: 20%;
  padding: 15px;
  margin: 0 auto 10%;
  background-color: var(--color-violet);
  color: var(--color-white);
  border: none;
  outline: none;
  border-radius: 5px;
  position: relative;
  left: 40%;
}
