.card__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* background-color: transparent; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: absolute;
  top: 200%;
  left: 10%;
  z-index: 1;
}
.card {
    background-color: red;
}
