:root {
    --color-violet: #5964E0;
    --color-light-violet: #939bf4;
    --color-dark-blue: #19202d;
    --color-midnight: #121721;
    --color-white: #ffffff;
    --color-light-grey: #f4f6f8;
    --color-gray: #9daec2;
    --color-dark-grey: #6e8098;
    --color-yellow:#E99210;
  }

  .App{
    background-color: var(--color-light-grey);
  }

  .App__dark__mode{
    background-color: var(--color-midnight);
    color: var(--color-white);
  }