:root {
  --color-violet: #5964e0;
  --color-light-violet: #939bf4;
  --color-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #19202d;
  --color-white-background: #ffffff;
  --color-light-grey: #f4f6f8;
  --color-gray: #9daec2;
  --color-dark-grey: #6e8098;
  --color-yellow: #e99210;
}

.App {
  background-color: var(--color-light-grey);
  width: 100%;
  height: 100%;
}

/* DARK MODE IMPLEMENTATION */
[data-theme="dark"] {
  --color-light-grey: #121721;
  --color-white: #ffffff;
  --color-dark-grey: #6e8098;
  --color-white-background: #19202d;
}
