:root{
  --color-violet:	 #9e7f66;
  --color-light-violet: #939BF4;
  --color-dark-blue:#19202D;
  --color-midnight:#121721;
  --color-white:#FFFFFF;
  --color-light-grey:#F4F6F8;
  --color-gray:#9DAEC2;
  --color-dark-grey:#6E8098;
 
}


