:root {
  --color-violet: #9e7f66;
  --color-light-violet: #939bf4;
  --color-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #ffffff;
  --color-light-grey: #f4f6f8;
  --color-gray: #9daec2;
  --color-dark-grey: #6e8098;
}

