.card__container {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  position: relative;
  top: 200%;
  right: 0;
  background-color: var(--color-light-grey);
  z-index: 1;
}


.card {
  background-color: var(--color-white-background);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__info h3 {
  font-size: 20px;
  color: var(--color-white);
}
.card__info span {
  color: var(--color-dark-grey);
}
.card__info p {
  color: var(--color-dark-grey);
}

#location {
  color: var(--color-violet);
  margin-top: 40px;
}

.cards__container button {
  border: none;
  outline: none;
  border-radius: 5px;
}

.card__container button {
  background-color: var(--color-violet);
  color: var(--color-white);
  width: 55%;
  padding: 15px;
  margin: 0 auto 10%;
  position: relative;
  left: 100%;
}
.cards__container button:hover {
  background-color: var(--color-light-violet);
}
