/* CARD COMPONENT STYLES */
.card__container {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  position: relative;
  top: 50px;
  right: 0;
  background-color: var(--color-light-grey);
  z-index: 1;
}

.card {
  background-color: var(--color-white-background);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__info h3 {
  font-size: 20px;
  color: var(--color-white);
}
.card__info h3:hover {
  color: var(--color-dark-grey);
}
.card__info span {
  color: var(--color-dark-grey);
}
.card__info p {
  color: var(--color-dark-grey);
}

#location {
  color: var(--color-violet);
  margin-top: 40px;
}

.card__container button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-violet);
  color: var(--color-white);
  width: 55%;
  padding: 15px;
  margin: 0 auto 10%;
  position: relative;
  left: 0;
}
.card__container button:hover {
  background-color: var(--color-light-violet);
}

.blurred {
  filter: blur(1px);
  z-index: -10;
}

/* TABLETS SCREENS STYLES */
@media screen and (max-width: 1024px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__container button {
    width: 60%;
    left: 50%;
  }
}

/* MOBILE SCREENS STYLES */
@media screen and (max-width: 768px) {
  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__container button {
    width: 40%;
    left: 0;
  }
}
