.detailed__container {
  background-color: transparent;
  position: relative;
  bottom: 4rem;
  z-index: 2;
}

.card__detailed {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.card__detailed a button {
  background-color: var(--color-violet);
  color: var(--color-white);
  width: 12%;
  padding: 10px;
  position: absolute;
  top: 17%;
  right: 6%;
}

.detailed__container__top {
  width: 100%;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.detailed__img__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-yellow);
}

.text__logo {
  margin-left: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.text__logo a button {
  width: 100%;
  background-color: var(--color-light-grey);
  color: var(--color-violet);
  padding: 15px;
  position: relative;
  right: 10%;
}
.detailed__container__botton {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px 0;
}

.card__footer {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 21.5%;
  /* margin: 20px 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__footer__right a button {
  background-color: var(--color-violet);
  color: var(--color-white);
  /* width: 40%; */
  padding: 10px;
}
.Scoot__text__content button {
}

.card__info__detailed h3 {
  padding: 20px 0;
}

.card__info__detailed ul,
ol {
  margin-left: 0px;
}
.card__info__detailed ol,
ul {
  margin-left: 0px;
}
.card__info__detailed ol,
ul li {
  padding: 6px 0 6px 15px;
}
.card__info__detailed ul,
ol li {
  padding: 6px 0 6px 15px;
}
