/* .homepage__container {
  width: 100%;
  /* height: 100vh; */

  /* position: relative;
  z-index: -10; */

/* SEARCH COMPONENT */
.search__container {
  width: 80%;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
  left: 10%;
  z-index: 10;
}
.search__input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: var(--color-light-grey) 3px solid;
  cursor: pointer;
}
.search__input:last-child {
  border-right: none;
}
.search__input img {
  width: 25px;
  padding-left: 10px;
}
.search__input input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin-left: 10px;
}
.search__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.search__checkbox input {
  width: 10%;
}
.search__checkbox h4 {
  font-weight: 500;
  margin: 0 10px;
}
.search__checkbox button {
  width: 40%;
  height: 60%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--color-violet);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-white);
}
